<div class="container">
  <div class="row">
    <div class="col-3 col-md-1" style="">
      <div class="prehead mt-1">
        <%= section %>
      </div>
    </div>
    <div class="col-9  col-sm-11" style="margin-top:2px;">
      <h6 class="mt-1">
        <%= title %>
      </h6>
    </div>
  </div>
</div>