<div class="row">
  <div class="col-5">
    <h1 class="display-4">Choose<br />your agent</h1>
    <p>
      The following scenarios propose a personal AI agent, offered to you by an organization of your choosing. 
    </p>
    <div>
      <button type="button" class="btn btn-primary btn-lg"">Choose your agent</button>
      <button type="button" class="btn btn-secondary btn-lg"">Skip to the prototype</button>
    </div>
  </div>
  <div class="col-7">
    <ul class="list-group ai-options">
    <li class="list-group-item">
      <div class="ai-option selected col">
        <div class="radio float-left"><i class="material-icons md-48 align-middle">radio_button_checked</i></div>
        <div class="avatar float-left"><i class="material-icons md-48 align-middle">location_city</i></div>
        <div class="col">
          <h4 class="title">City Dept.</h4>
          <p class="">A department in your municipal government</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ai-option  col">
          <div class="radio float-left"><i class="material-icons md-48 align-middle">radio_button_unchecked</i></div>
          <div class="avatar float-left"><i class="material-icons md-48 align-middle">local_library</i></div>
          <div class="col">
            <h4 class="title">Library Dept.</h4>
            <p class="">A department in your municipal government</p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ai-option  col">
          <div class="radio float-left"><i class="material-icons md-48 align-middle">radio_button_unchecked</i></div>
          <div class="avatar float-left"><i class="material-icons md-48 align-middle">account_balance</i></div>
          <div class="col">
            <h4 class="title">Bank Co.</h4>
            <p class="">A department in your municipal government</p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ai-option  col">
          <div class="radio float-left"><i class="material-icons md-48 align-middle">radio_button_unchecked</i></div>
          <div class="avatar float-left"><i class="material-icons md-48 align-middle">local_phone</i></div>
          <div class="col">
            <h4 class="title">Phone Co.</h4>
            <p class="">A department in your municipal government</p>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="ai-option  col">
          <div class="radio float-left"><i class="material-icons md-48 align-middle">radio_button_unchecked</i></div>
          <div class="avatar float-left"><i class="material-icons md-48 align-middle">help</i></div>
          <div class="col">
            <h4 class="title">Other...</h4>
            <p class="">Who would you choose to provide your personal AI?</p>
          </div>
        </div>
      </li>
    </ul>    
  </div>
</div>